.sidenav-container {
    height: 100vh;
    display: flex;
  }
  
  mat-sidenav {
    width: 250px;
    background: white;
    color: black;
    padding-top: 15px 0px 0px 0px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .content {
    padding: 0px;
    width: 100%;
    background-color: #f5f7fa;
  }
  